# Created by .ignore support plugin (hsz.mobi)
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
.idea
*.iws
.idea_modules/
*.slo
*.mod
*.smod
*.lai
bin/
